<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524238234245-kgt5h1v9tpag0q77ccqp3qakulmec7bf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524238234245-kgt5h1v9tpag0q77ccqp3qakulmec7bf</string>
	<key>API_KEY</key>
	<string>AIzaSyABDzbhfh4C874tmJA_6N_o1gv88DVGoPw</string>
	<key>GCM_SENDER_ID</key>
	<string>524238234245</string>
	<key>PLIST_VERSION</key>
	<string>1.1</string>
	<key>BUNDLE_ID</key>
	<string>com.sasha.EnvironmentalJusticeReadOnly</string>
	<key>PROJECT_ID</key>
	<string>environmentaljustice-63266</string>
	<key>STORAGE_BUCKET</key>
	<string>environmentaljustice-63266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:524238234245:ios:1db9c0c4927cc1065d3fec</string>
</dict>
</plist>
